/* App-wide styling */
body {
    background-color: #0f1116;
    color: #ffffff;
    font-family: "Doto";
    font-family: "Doto", Cosolas, Geneva, Tahoma, sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "ROND" 0;
    margin: 20px;

    min-height: 90vh;
    /* min-width: 90vw; */

    display: flex;
    justify-content: center;
    /* border: 8px solid white; */
    /* border-radius: 100%; */
    align-items: center;


    
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    align-content: center;
    
}

#button {
    font-family: "Doto";
    font-family: "Doto", Consolas, Geneva, Tahoma, sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "ROND" 0;

    font-size: larger;
    /* border-radius: 20%; */
    padding: 10px;
    margin-top: 20px;

    background-color: aliceblue;
    border-color: aliceblue;

    color: hsl(180, 100%, 25%);

    border-top-left-radius: 2cqmax;
    border-bottom-right-radius: 2cqmax;
}


#button:hover  {
    background-color: hsl(180, 100%, 25%);
    /* border-radius: 20%; */
    box-shadow: none;
    border: none;
    border-color: hsl(180, 100%, 25%);
    color: aliceblue;
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 2cqmax;
    border-top-right-radius: 2cqmax;
}


#button:active {
    background-color: aliceblue;
    border-color: aliceblue;

    color: hsl(180, 100%, 25%);
}


input {
    border-style: dotted;
    display: inline-block;
    padding: 5px;
    text-align: center;
    color: hsl(180, 100%, 25%) ;
    background-color: aliceblue;
    border: 2px solid aliceblue;
    border-top-left-radius: 2cqmax;
    border-bottom-left-radius: 2cqmax;
    padding-left: 0px;
    border-color: hsl(180, 100%, 25%);

}
input::placeholder {
    text-align: center;
}

#next {
    padding: 5px;
    margin-left: 5px; 
    background-color: hsl(180, 100%, 25%);
    border-color: aliceblue;
    border-top-right-radius: 2cqmax;
    border-bottom-right-radius: 2cqmax;
    padding-right: 10px;
    color: aliceblue
}

#next:active {
    color: hsl(180, 100%, 25%);
    background-color: aliceblue;
    border-color: hsl(180, 100%, 25%);
}

#back-button {
    font-family: "Doto";
    font-family: "Doto", Consolas, Geneva, Tahoma, sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "ROND" 0;

    font-size: larger;
    /* border-radius: 20%; */
    padding: 10px;
    margin-top: 20px;

    background-color: aliceblue;
    border-color: aliceblue;

    color: hsl(180, 100%, 25%);

    border-radius: 2cqmax;
}


#back-button:hover  {
    background-color: hsl(180, 100%, 25%);
    /* border-radius: 20%; */
    box-shadow: none;
    border: none;
    border-color: hsl(180, 100%, 25%);
    color: aliceblue;
    
}


#back-button:active {
    background-color: aliceblue;
    border-color: aliceblue;

    color: hsl(180, 100%, 25%);
}